*{
    margin: 0px;
    padding: 0px;
    boxing size: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #685f5f;
    padding: 50px;
}
.navbar {
    background: #504a4a;
   padding: 0 20px;
   border-radius: 8px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   display: flex;
   aligin-items: center;
   justify-content: space-between;
    background-color: #fff;
    padding: 0 20px;
}
.navbar .nav-links {
    display: flex;
    list-style: none;
}
.navbar .nav-links li a {
   display: block;
   color:blueviolet;
   text-decoration: none;
   padding: 18px 25px;
   font-size: 16px;
}